

uploads.7z
gamehub2 - Copy/.gitignore
gamehub2 - Copy/category_style.css
gamehub2 - Copy/gamehub.sql
gamehub2 - Copy/hub_afterhome.html
gamehub2 - Copy/hub_beforehome.html
gamehub2 - Copy/hub_categorytest.html
gamehub2 - Copy/hub_conn.php
gamehub2 - Copy/hub_fetch_game_details.php
gamehub2 - Copy/hub_fetch_game_images.php
gamehub2 - Copy/hub_forgotpassword.php
gamehub2 - Copy/hub_forgotpassword2.php
gamehub2 - Copy/hub_gamecategory.html
gamehub2 - Copy/hub_login.php
gamehub2 - Copy/hub_login1.php
gamehub2 - Copy/hub_logout.php
gamehub2 - Copy/hub_register.php
gamehub2 - Copy/hub_resetpassword.php
gamehub2 - Copy/hub_update_feedback.php
gamehub2 - Copy/(UNUSED)/hub_forgotpassword.php.bak
gamehub2 - Copy/(UNUSED)/hub_forgotpassword2.php.bak
gamehub2 - Copy/(UNUSED)/hub_games_view.php.bak
gamehub2 - Copy/(UNUSED)/hub_hashsecanswer.php
gamehub2 - Copy/(UNUSED)/hub_home_category.php.bak
gamehub2 - Copy/(UNUSED)/hub_login.php.bak
gamehub2 - Copy/(UNUSED)/hub_register.php.bak
gamehub2 - Copy/(UNUSED)/hub_resetpassword.php.bak
gamehub2 - Copy/(UNUSED)/hub_upload.php
gamehub2 - Copy/admin/games/hub_admin_game_add.php
gamehub2 - Copy/admin/games/hub_admin_game_delete.php
gamehub2 - Copy/admin/games/hub_admin_game_edit.php
gamehub2 - Copy/admin/games/hub_admin_games.php
gamehub2 - Copy/admin/img/hub_admin_cover_add.php
gamehub2 - Copy/admin/img/hub_admin_cover_delete.php
gamehub2 - Copy/admin/img/hub_admin_img_add.php
gamehub2 - Copy/admin/img/hub_admin_img_delete.php
gamehub2 - Copy/admin/img/hub_admin_img_sortminus.php
gamehub2 - Copy/admin/img/hub_admin_img_sortplus.php
gamehub2 - Copy/admin/img/hub_admin_img.php
gamehub2 - Copy/admin/user/hub_admin_user_delete.php
gamehub2 - Copy/admin/user/hub_admin_user_edit.php
gamehub2 - Copy/admin/user/hub_admin_user.php
gamehub2 - Copy/main/hub_game_detail.php
gamehub2 - Copy/main/hub_home_category.php
gamehub2 - Copy/main/hub_home.php
gamehub2 - Copy/main/hub_home1.php
gamehub2 - Copy/main/hub_main_about.php
gamehub2 - Copy/main/icon.png
gamehub2 - Copy/main/logged_in/hub_game_detail_logged_in.php
gamehub2 - Copy/main/logged_in/hub_home_category_logged_in.php
gamehub2 - Copy/main/logged_in/hub_home_logged_in.php
gamehub2 - Copy/main/logged_in/hub_main_about_logged_in.php
gamehub2 - Copy/main/logged_in/hub_main_profile_game_details.php
gamehub2 - Copy/main/logged_in/hub_main_profile.php
gamehub2 - Copy/main/logged_in/modal_change_password.php
gamehub2 - Copy/main/logged_in/modal_change_username.php
gamehub2 - Copy/main/survey/hub_survey_finished.php
gamehub2 - Copy/main/survey/hub_survey_game.php
gamehub2 - Copy/main/survey/hub_survey_site.php
gamehub2 - Copy/random/feedback.html
gamehub2 - Copy/random/feedback.js
gamehub2 - Copy/random/fps_style.css
gamehub2 - Copy/random/hub_fps.html
gamehub2 - Copy/random/tailwind.js
gamehub2 - Copy/random/thankyou.html
gamehub2 - Copy/random/thankyou.jsx
SPG0473_PBL_Gamehub.7z
(WIP Styling)/.gitignore
(WIP Styling)/gamehub.sql
(WIP Styling)/hub_conn.php
(WIP Styling)/hub_fetch_game_details.php
(WIP Styling)/hub_fetch_game_images.php
(WIP Styling)/hub_forgotpassword.php
(WIP Styling)/hub_forgotpassword2.php
(WIP Styling)/hub_login.php
(WIP Styling)/hub_logout.php
(WIP Styling)/hub_register.php
(WIP Styling)/hub_resetpassword.php
(WIP Styling)/hub_update_feedback.php
(WIP Styling)/(UNUSED)/hub_forgotpassword.php.bak
(WIP Styling)/(UNUSED)/hub_forgotpassword2.php.bak
(WIP Styling)/(UNUSED)/hub_games_view.php.bak
(WIP Styling)/(UNUSED)/hub_hashsecanswer.php
(WIP Styling)/(UNUSED)/hub_home_category.php.bak
(WIP Styling)/(UNUSED)/hub_login.php.bak
(WIP Styling)/(UNUSED)/hub_register.php.bak
(WIP Styling)/(UNUSED)/hub_resetpassword.php.bak
(WIP Styling)/(UNUSED)/hub_upload.php
(WIP Styling)/admin/games/hub_admin_game_add.php
(WIP Styling)/admin/games/hub_admin_game_delete.php
(WIP Styling)/admin/games/hub_admin_game_edit.php
(WIP Styling)/admin/games/hub_admin_games.php
(WIP Styling)/admin/img/hub_admin_cover_add.php
(WIP Styling)/admin/img/hub_admin_cover_delete.php
(WIP Styling)/admin/img/hub_admin_img_add.php
(WIP Styling)/admin/img/hub_admin_img_delete.php
(WIP Styling)/admin/img/hub_admin_img_sortminus.php
(WIP Styling)/admin/img/hub_admin_img_sortplus.php
(WIP Styling)/admin/img/hub_admin_img.php
(WIP Styling)/admin/user/hub_admin_user_delete.php
(WIP Styling)/admin/user/hub_admin_user_edit.php
(WIP Styling)/admin/user/hub_admin_user.php
(WIP Styling)/main/hub_game_detail.php
(WIP Styling)/main/hub_home_category.php
(WIP Styling)/main/hub_home.php
(WIP Styling)/main/hub_main_about.php
(WIP Styling)/main/icon.png
(WIP Styling)/main/logged_in/hub_game_detail_logged_in.php
(WIP Styling)/main/logged_in/hub_home_category_logged_in.php
(WIP Styling)/main/logged_in/hub_home_logged_in.php
(WIP Styling)/main/logged_in/hub_main_about_logged_in.php
(WIP Styling)/main/logged_in/hub_main_profile_game_details.php
(WIP Styling)/main/logged_in/hub_main_profile.php
(WIP Styling)/main/logged_in/modal_change_password.php
(WIP Styling)/main/logged_in/modal_change_username.php
(WIP Styling)/main/survey/hub_survey_finished.php
(WIP Styling)/main/survey/hub_survey_game.php
(WIP Styling)/main/survey/hub_survey_site.php
(WIP Styling)/random/feedback.html
(WIP Styling)/random/feedback.js
(WIP Styling)/random/fps_style.css
(WIP Styling)/random/hub_fps.html
(WIP Styling)/random/tailwind.js
(WIP Styling)/random/thankyou.html
(WIP Styling)/random/thankyou.jsx
gamehub_3.zip
(OLD)/hub_conn.php
(OLD)/hub_fetch_game_details.php
(OLD)/hub_fetch_game_images.php
(OLD)/hub_forgotpassword.php
(OLD)/hub_forgotpassword2.php
(OLD)/hub_login.php
(OLD)/hub_logout.php
(OLD)/hub_register.php
(OLD)/hub_resetpassword.php
(OLD)/hub_update_feedback.php
(OLD)/admin/games/hub_admin_game_add.php
(OLD)/admin/games/hub_admin_game_delete.php
(OLD)/admin/games/hub_admin_game_edit.php
(OLD)/admin/games/hub_admin_games.php
(OLD)/admin/img/hub_admin_cover_add.php
(OLD)/admin/img/hub_admin_cover_delete.php
(OLD)/admin/img/hub_admin_img_add.php
(OLD)/admin/img/hub_admin_img_delete.php
(OLD)/admin/img/hub_admin_img_sortminus.php
(OLD)/admin/img/hub_admin_img_sortplus.php
(OLD)/admin/img/hub_admin_img.php
(OLD)/admin/user/hub_admin_user_delete.php
(OLD)/admin/user/hub_admin_user_edit.php
(OLD)/admin/user/hub_admin_user.php
(OLD)/main/hub_game_detail.php
(OLD)/main/hub_home_category.php
(OLD)/main/hub_home.php
(OLD)/main/hub_main_about.php
(OLD)/main/logged_in/hub_game_detail_logged_in.php
(OLD)/main/logged_in/hub_home_category_logged_in.php
(OLD)/main/logged_in/hub_home_logged_in.php
(OLD)/main/logged_in/hub_main_about_logged_in.php
(OLD)/main/logged_in/hub_main_profile_game_details.php
(OLD)/main/logged_in/hub_main_profile.php
(OLD)/main/logged_in/modal_change_password.php
(OLD)/main/logged_in/modal_change_username.php
(OLD)/main/survey/hub_survey_finished.php
(OLD)/main/survey/hub_survey_game.php
(OLD)/main/survey/hub_survey_site.php
(OLD)/uploads/placeholder.png
(OLD)/uploads/covers/cover_7_690a0ff7754bf.jpg
(OLD)/uploads/covers/cover_8_690a2006e0117.jpg
(OLD)/uploads/covers/cover_9_690a2cf3570e9.jpg
(OLD)/uploads/covers/cover_12_690a204f3eacc.jpg
(OLD)/uploads/covers/cover_13_690a2081171ae.jpg
(OLD)/uploads/covers/cover_14_690a20ec59669.jpg
(OLD)/uploads/covers/cover_17_690a234240e7f.jpg
(OLD)/uploads/covers/cover_22_690a239abc7f8.jpg
(OLD)/uploads/covers/cover_23_690a23b3c316d.jpg
(OLD)/uploads/covers/cover_24_690a23cb37962.jpg
(OLD)/uploads/covers/cover_25_690a23e945fc5.jpg
(OLD)/uploads/covers/cover_26_690a240ba4928.jpg
(OLD)/uploads/covers/cover_27_690a2469688b2.jpg
(OLD)/uploads/covers/cover_28_690a2482e5653.jpg
(OLD)/uploads/covers/cover_29_690a2504403aa.jpg
(OLD)/uploads/covers/cover_30_690a2523720d3.jpg
(OLD)/uploads/covers/cover_31_690a25d6d4a5b.jpg
(OLD)/uploads/covers/cover_32_690a25fade09b.jpg
(OLD)/uploads/covers/cover_33_690a2616a4d96.jpg
(OLD)/uploads/covers/cover_34_690a2631d5566.jpg
(OLD)/uploads/covers/cover_35_690a264b08399.jpg
(OLD)/uploads/covers/cover_36_690a266eec4b1.jpg
(OLD)/uploads/covers/cover_37_690a268a07dc1.jpg
(OLD)/uploads/covers/cover_38_690a26b1d8ed0.jpg
(OLD)/uploads/covers/cover_39_690a332508cd6.jpg
(OLD)/uploads/gallery/game_7_6905e56124a13.jpg
(OLD)/uploads/gallery/game_7_6905e56125ec1.jpg
(OLD)/uploads/gallery/game_7_6905e56126daf.jpg
(OLD)/uploads/gallery/game_7_6905e561267af.jpg
(OLD)/uploads/gallery/game_7_6905e5612526e.jpg
(OLD)/uploads/gallery/game_7_6905e5612741c.jpg
(OLD)/uploads/gallery/game_8_6905e1ff56f5c.jpg
(OLD)/uploads/gallery/game_8_6905e1ff58b67.jpg
(OLD)/uploads/gallery/game_8_6905e1ff597e8.jpg
(OLD)/uploads/gallery/game_8_6905e1ff5792f.jpg
(OLD)/uploads/gallery/game_8_6905e1ff5812d.jpg
(OLD)/uploads/gallery/game_8_6905e40108c34.jpg
(OLD)/uploads/gallery/game_9_690a2de5d111c.jpg
(OLD)/uploads/gallery/game_9_690a2dee11e15.jpg
(OLD)/uploads/gallery/game_9_690a2e4d44ab7.jpg
(OLD)/uploads/gallery/game_9_690a2e4d425a5.jpg
(OLD)/uploads/gallery/game_9_690a2e4d4407f.webp
(OLD)/uploads/gallery/game_9_690a2e4d43295.jpg
(OLD)/uploads/gallery/game_12_6905e89221e6a.jpg
(OLD)/uploads/gallery/game_12_6905e89222da0.jpg
(OLD)/uploads/gallery/game_12_6905e892211e8.jpg
(OLD)/uploads/gallery/game_12_6905e892226aa.jpg
(OLD)/uploads/gallery/game_12_6905e892233e6.jpg
(OLD)/uploads/gallery/game_12_6905e89220280.jpg
(OLD)/uploads/gallery/game_13_6905e9545a5b5.jpg
(OLD)/uploads/gallery/game_13_6905e9545afd5.jpg
(OLD)/uploads/gallery/game_13_6905e9545bb79.jpg
(OLD)/uploads/gallery/game_13_6905e9545c3cc.jpg
(OLD)/uploads/gallery/game_13_6905e9545ca7e.jpg
(OLD)/uploads/gallery/game_13_6905e95459c87.jpg
(OLD)/uploads/gallery/game_14_6905ea201f6cd.jpg
(OLD)/uploads/gallery/game_14_6905ea2021e8d.jpg
(OLD)/uploads/gallery/game_14_6905ea20205c6.jpg
(OLD)/uploads/gallery/game_14_6905ea20210c4.jpg
(OLD)/uploads/gallery/game_14_6905ea20224f2.jpg
(OLD)/uploads/gallery/game_14_6905ea2021843.jpg
(OLD)/uploads/gallery/game_17_6905eb7e1ef24.jpg
(OLD)/uploads/gallery/game_17_6905eb7e1f937.jpg
(OLD)/uploads/gallery/game_17_6905eb7e21cc2.jpg
(OLD)/uploads/gallery/game_17_6905eb7e20632.jpg
(OLD)/uploads/gallery/game_17_6905eb7e21291.jpg
(OLD)/uploads/gallery/game_17_6905eb7e22543.jpg
(OLD)/uploads/gallery/game_22_6905ec131a67d.jpg
(OLD)/uploads/gallery/game_22_6905ec131af7e.jpg
(OLD)/uploads/gallery/game_22_6905ec131b6af.jpg
(OLD)/uploads/gallery/game_22_6905ec1319c97.jpg
(OLD)/uploads/gallery/game_22_6905ec131928d.jpg
(OLD)/uploads/gallery/game_22_6905ec1318338.jpg
(OLD)/uploads/gallery/game_23_6905ec7ed4c7d.jpg
(OLD)/uploads/gallery/game_23_6905ec7ed6a94.jpg
(OLD)/uploads/gallery/game_23_6905ec7ed57f5.jpg
(OLD)/uploads/gallery/game_23_6905ec7ed77b1.jpg
(OLD)/uploads/gallery/game_23_6905ec7ed6199.jpg
(OLD)/uploads/gallery/game_23_6905ec7ed7090.jpg
(OLD)/uploads/gallery/game_24_6905ed0463b63.jpg
(OLD)/uploads/gallery/game_24_6905ed0465fb4.jpg
(OLD)/uploads/gallery/game_24_6905ed0466e05.jpg
(OLD)/uploads/gallery/game_24_6905ed04648a0.jpg
(OLD)/uploads/gallery/game_24_6905ed046548b.jpg
(OLD)/uploads/gallery/game_24_6905ed046679b.jpg
(OLD)/uploads/gallery/game_25_6905ed910a8ce.jpg
(OLD)/uploads/gallery/game_25_6905ed910af18.jpg
(OLD)/uploads/gallery/game_25_6905ed910b4af.jpg
(OLD)/uploads/gallery/game_25_6905ed9108b8b.jpg
(OLD)/uploads/gallery/game_25_6905ed9109ee5.jpg
(OLD)/uploads/gallery/game_25_6905ed91094bf.jpg
(OLD)/uploads/gallery/game_26_6905eefc9a69b.jpg
(OLD)/uploads/gallery/game_26_6905eefc9afec.jpg
(OLD)/uploads/gallery/game_26_6905eefc9b660.jpg
(OLD)/uploads/gallery/game_26_6905eefc9baf6.jpg
(OLD)/uploads/gallery/game_26_6905eefc9bee9.jpg
(OLD)/uploads/gallery/game_26_6905eefc99a40.jpg
(OLD)/uploads/gallery/game_27_6905ef93b2c98.jpg
(OLD)/uploads/gallery/game_27_6905ef93b3a25.jpg
(OLD)/uploads/gallery/game_27_6905ef93b4da9.jpg
(OLD)/uploads/gallery/game_27_6905ef93b5bea.jpg
(OLD)/uploads/gallery/game_27_6905ef93b55cc.jpg
(OLD)/uploads/gallery/game_27_6905ef93b4525.jpg
(OLD)/uploads/gallery/game_28_6905f0340a282.jpg
(OLD)/uploads/gallery/game_28_6905f0340b230.jpg
(OLD)/uploads/gallery/game_28_6905f0340bbc1.jpg
(OLD)/uploads/gallery/game_28_6905f0340c3f5.jpg
(OLD)/uploads/gallery/game_28_6905f0340cae7.jpg
(OLD)/uploads/gallery/game_28_6905f0340d549.jpg
(OLD)/uploads/gallery/game_29_6905f0ab63a0f.jpg
(OLD)/uploads/gallery/game_29_6905f0ab63f72.jpg
(OLD)/uploads/gallery/game_29_6905f0ab64caa.jpg
(OLD)/uploads/gallery/game_29_6905f0ab629ba.jpg
(OLD)/uploads/gallery/game_29_6905f0ab631b0.jpg
(OLD)/uploads/gallery/game_29_6905f0ab645b6.jpg
(OLD)/uploads/gallery/game_30_6905f11ea9da6.jpg
(OLD)/uploads/gallery/game_30_6905f11eaa395.jpg
(OLD)/uploads/gallery/game_30_6905f11eaacd9.jpg
(OLD)/uploads/gallery/game_30_6905f11eab733.jpg
(OLD)/uploads/gallery/game_31_6905f182ae727.jpg
(OLD)/uploads/gallery/game_31_6905f182af192.jpg
(OLD)/uploads/gallery/game_31_6905f182afeff.jpg
(OLD)/uploads/gallery/game_31_6905f182b0a4e.jpg
(OLD)/uploads/gallery/game_31_6905f182b1031.jpg
(OLD)/uploads/gallery/game_31_6905f182b1583.jpg
(OLD)/uploads/gallery/game_32_6905f2a16ab01.jpg
(OLD)/uploads/gallery/game_32_6905f2a16b3eb.jpg
(OLD)/uploads/gallery/game_32_6905f2a16b904.jpg
(OLD)/uploads/gallery/game_32_6905f2a16bfc2.jpg
(OLD)/uploads/gallery/game_32_6905f2a169dde.jpg
(OLD)/uploads/gallery/game_32_6905f2a1693ed.jpg
(OLD)/uploads/gallery/game_33_6905f3255d83c.jpg
(OLD)/uploads/gallery/game_33_6905f3255de4d.jpg
(OLD)/uploads/gallery/game_33_6905f3255e90f.jpg
(OLD)/uploads/gallery/game_33_6905f3255f2ce.jpg
(OLD)/uploads/gallery/game_33_6905f3255fb85.jpg
(OLD)/uploads/gallery/game_33_6905f32560280.jpg
(OLD)/uploads/gallery/game_34_6905f3c74ced9.jpg
(OLD)/uploads/gallery/game_34_6905f3c74d667.jpg
(OLD)/uploads/gallery/game_34_6905f3c74de99.jpg
(OLD)/uploads/gallery/game_34_6905f3c74e7ad.jpg
(OLD)/uploads/gallery/game_34_6905f3c74e358.jpg
(OLD)/uploads/gallery/game_34_6905f3c74ef77.jpg
(OLD)/uploads/gallery/game_35_6906146355dac.jpg
(OLD)/uploads/gallery/game_35_6906146356c27.jpg
(OLD)/uploads/gallery/game_35_6906146357dad.jpg
(OLD)/uploads/gallery/game_35_69061463583ba.jpg
(OLD)/uploads/gallery/game_35_69061463589c5.jpg
(OLD)/uploads/gallery/game_35_6906146357773.jpg
(OLD)/uploads/gallery/game_36_690615130a4cc.jpg
(OLD)/uploads/gallery/game_36_690615130aee9.jpg
(OLD)/uploads/gallery/game_36_690615130b90f.jpg
(OLD)/uploads/gallery/game_36_690615130be8e.jpg
(OLD)/uploads/gallery/game_36_690615130c405.jpg
(OLD)/uploads/gallery/game_36_690615130ccf6.jpg
(OLD)/uploads/gallery/game_37_690615b695b1b.jpg
(OLD)/uploads/gallery/game_37_690615b697cf4.jpg
(OLD)/uploads/gallery/game_37_690615b6960e7.jpg
(OLD)/uploads/gallery/game_37_690615b6967a7.jpg
(OLD)/uploads/gallery/game_37_690615b6983b8.jpg
(OLD)/uploads/gallery/game_37_690615b697281.jpg
(OLD)/uploads/gallery/game_38_690616246c3cd.jpg
(OLD)/uploads/gallery/game_38_690616246d3b6.jpg
(OLD)/uploads/gallery/game_38_690616246db8c.jpg
(OLD)/uploads/gallery/game_38_690616246e7fc.jpg
(OLD)/uploads/gallery/game_38_690616246e24a.jpg
(OLD)/uploads/gallery/game_38_690616246ed68.jpg
(OLD)/uploads/gallery/game_39_690a35b60f907.jpeg
(OLD)/uploads/gallery/game_39_690a35b610bf6.jpg
(OLD)/uploads/gallery/game_39_690a35b611ec8.jpg
(OLD)/uploads/gallery/game_39_690a35b6101b2.webp
(OLD)/uploads/gallery/game_39_690a35b61192a.jpg
(OLD)/uploads/gallery/game_39_690a35b611293.png
(OLD)/uploads/images/game_img_690a47f9bb7277.63178711.jpg
(OLD)/uploads/images/game_img_6903cc52d0c2d8.82770197.jpg
(OLD)/uploads/images/game_img_6903cd278a3aa6.99306922.jpg
(OLD)/uploads/images/game_img_6903d2c47a1a77.34827150.jpg
(OLD)/uploads/images/game_img_6903d36a481187.22550180.jpg
(OLD)/uploads/images/game_img_6903d2077e8661.77472310.png
(OLD)/uploads/images/game_img_69046f7a41e7b5.00230625.jpg
(OLD)/uploads/images/game_img_69047c07c08de9.76248477.jpg
(OLD)/uploads/images/game_img_69050ffbaaaa07.56713655.jpg
(OLD)/uploads/images/game_img_69051ac56e4133.45176083.jpg
(OLD)/uploads/images/game_img_69051b9106f5f9.89006106.jpg
(OLD)/uploads/images/game_img_69051e41c03877.17729290.jpg
(OLD)/uploads/images/game_img_69051f3c2da550.36042022.jpeg
(OLD)/uploads/images/game_img_69051fec556ed3.48763014.jpg
(OLD)/uploads/images/game_img_690510be9da306.30675164.jpg
(OLD)/uploads/images/game_img_690511a5cb8657.38880090.jpg
(OLD)/uploads/images/game_img_690522d95e1c63.09347479.png
(OLD)/uploads/images/game_img_690523a41c71b3.07100900.avif
(OLD)/uploads/images/game_img_6905199f35be09.96889943.jpg
(OLD)/uploads/images/game_img_69051220ac8ed6.71695339.jpg
(OLD)/uploads/images/game_img_69051338f00fc0.17805927.jpg
(OLD)/uploads/images/game_img_69051522c7c120.15159830.jpg
(OLD)/uploads/images/game_img_69051776b566c0.50248242.jpg
(OLD)/uploads/images/game_img_69051884dd9b11.09379960.png
(OLD)/uploads/images/game_img_690522237b2068.57186791.png
(OLD)/uploads/members/fawwaz2.jpg
(OLD)/uploads/members/iman2.jpg
(OLD)/uploads/members/khairul.jpg
package-lock.json
