

uploads.7z
gamehub2 - Copy/.gitignore
gamehub2 - Copy/category_style.css
gamehub2 - Copy/gamehub.sql
gamehub2 - Copy/hub_afterhome.html
gamehub2 - Copy/hub_beforehome.html
gamehub2 - Copy/hub_categorytest.html
gamehub2 - Copy/hub_conn.php
gamehub2 - Copy/hub_fetch_game_details.php
gamehub2 - Copy/hub_fetch_game_images.php
gamehub2 - Copy/hub_forgotpassword.php
gamehub2 - Copy/hub_forgotpassword2.php
gamehub2 - Copy/hub_gamecategory.html
gamehub2 - Copy/hub_login.php
gamehub2 - Copy/hub_login1.php
gamehub2 - Copy/hub_logout.php
gamehub2 - Copy/hub_register.php
gamehub2 - Copy/hub_resetpassword.php
gamehub2 - Copy/hub_update_feedback.php
gamehub2 - Copy/(UNUSED)/hub_forgotpassword.php.bak
gamehub2 - Copy/(UNUSED)/hub_forgotpassword2.php.bak
gamehub2 - Copy/(UNUSED)/hub_games_view.php.bak
gamehub2 - Copy/(UNUSED)/hub_hashsecanswer.php
gamehub2 - Copy/(UNUSED)/hub_home_category.php.bak
gamehub2 - Copy/(UNUSED)/hub_login.php.bak
gamehub2 - Copy/(UNUSED)/hub_register.php.bak
gamehub2 - Copy/(UNUSED)/hub_resetpassword.php.bak
gamehub2 - Copy/(UNUSED)/hub_upload.php
gamehub2 - Copy/admin/games/hub_admin_game_add.php
gamehub2 - Copy/admin/games/hub_admin_game_delete.php
gamehub2 - Copy/admin/games/hub_admin_game_edit.php
gamehub2 - Copy/admin/games/hub_admin_games.php
gamehub2 - Copy/admin/img/hub_admin_cover_add.php
gamehub2 - Copy/admin/img/hub_admin_cover_delete.php
gamehub2 - Copy/admin/img/hub_admin_img_add.php
gamehub2 - Copy/admin/img/hub_admin_img_delete.php
gamehub2 - Copy/admin/img/hub_admin_img_sortminus.php
gamehub2 - Copy/admin/img/hub_admin_img_sortplus.php
gamehub2 - Copy/admin/img/hub_admin_img.php
gamehub2 - Copy/admin/user/hub_admin_user_delete.php
gamehub2 - Copy/admin/user/hub_admin_user_edit.php
gamehub2 - Copy/admin/user/hub_admin_user.php
gamehub2 - Copy/main/hub_game_detail.php
gamehub2 - Copy/main/hub_home_category.php
gamehub2 - Copy/main/hub_home.php
gamehub2 - Copy/main/hub_home1.php
gamehub2 - Copy/main/hub_main_about.php
gamehub2 - Copy/main/icon.png
gamehub2 - Copy/main/logged_in/hub_game_detail_logged_in.php
gamehub2 - Copy/main/logged_in/hub_home_category_logged_in.php
gamehub2 - Copy/main/logged_in/hub_home_logged_in.php
gamehub2 - Copy/main/logged_in/hub_main_about_logged_in.php
gamehub2 - Copy/main/logged_in/hub_main_profile_game_details.php
gamehub2 - Copy/main/logged_in/hub_main_profile.php
gamehub2 - Copy/main/logged_in/modal_change_password.php
gamehub2 - Copy/main/logged_in/modal_change_username.php
gamehub2 - Copy/main/survey/hub_survey_finished.php
gamehub2 - Copy/main/survey/hub_survey_game.php
gamehub2 - Copy/main/survey/hub_survey_site.php
gamehub2 - Copy/random/feedback.html
gamehub2 - Copy/random/feedback.js
gamehub2 - Copy/random/fps_style.css
gamehub2 - Copy/random/hub_fps.html
gamehub2 - Copy/random/tailwind.js
gamehub2 - Copy/random/thankyou.html
gamehub2 - Copy/random/thankyou.jsx
SPG0473_PBL_Gamehub.7z
(WIP Styling)/.gitignore
(WIP Styling)/gamehub.sql
(WIP Styling)/hub_conn.php
(WIP Styling)/hub_fetch_game_details.php
(WIP Styling)/hub_fetch_game_images.php
(WIP Styling)/hub_forgotpassword.php
(WIP Styling)/hub_forgotpassword2.php
(WIP Styling)/hub_login.php
(WIP Styling)/hub_logout.php
(WIP Styling)/hub_register.php
(WIP Styling)/hub_resetpassword.php
(WIP Styling)/hub_update_feedback.php
(WIP Styling)/(UNUSED)/hub_forgotpassword.php.bak
(WIP Styling)/(UNUSED)/hub_forgotpassword2.php.bak
(WIP Styling)/(UNUSED)/hub_games_view.php.bak
(WIP Styling)/(UNUSED)/hub_hashsecanswer.php
(WIP Styling)/(UNUSED)/hub_home_category.php.bak
(WIP Styling)/(UNUSED)/hub_login.php.bak
(WIP Styling)/(UNUSED)/hub_register.php.bak
(WIP Styling)/(UNUSED)/hub_resetpassword.php.bak
(WIP Styling)/(UNUSED)/hub_upload.php
(WIP Styling)/admin/games/hub_admin_game_add.php
(WIP Styling)/admin/games/hub_admin_game_delete.php
(WIP Styling)/admin/games/hub_admin_game_edit.php
(WIP Styling)/admin/games/hub_admin_games.php
(WIP Styling)/admin/img/hub_admin_cover_add.php
(WIP Styling)/admin/img/hub_admin_cover_delete.php
(WIP Styling)/admin/img/hub_admin_img_add.php
(WIP Styling)/admin/img/hub_admin_img_delete.php
(WIP Styling)/admin/img/hub_admin_img_sortminus.php
(WIP Styling)/admin/img/hub_admin_img_sortplus.php
(WIP Styling)/admin/img/hub_admin_img.php
(WIP Styling)/admin/user/hub_admin_user_delete.php
(WIP Styling)/admin/user/hub_admin_user_edit.php
(WIP Styling)/admin/user/hub_admin_user.php
(WIP Styling)/main/hub_game_detail.php
(WIP Styling)/main/hub_home_category.php
(WIP Styling)/main/hub_home.php
(WIP Styling)/main/hub_main_about.php
(WIP Styling)/main/icon.png
(WIP Styling)/main/logged_in/hub_game_detail_logged_in.php
(WIP Styling)/main/logged_in/hub_home_category_logged_in.php
(WIP Styling)/main/logged_in/hub_home_logged_in.php
(WIP Styling)/main/logged_in/hub_main_about_logged_in.php
(WIP Styling)/main/logged_in/hub_main_profile_game_details.php
(WIP Styling)/main/logged_in/hub_main_profile.php
(WIP Styling)/main/logged_in/modal_change_password.php
(WIP Styling)/main/logged_in/modal_change_username.php
(WIP Styling)/main/survey/hub_survey_finished.php
(WIP Styling)/main/survey/hub_survey_game.php
(WIP Styling)/main/survey/hub_survey_site.php
(WIP Styling)/random/feedback.html
(WIP Styling)/random/feedback.js
(WIP Styling)/random/fps_style.css
(WIP Styling)/random/hub_fps.html
(WIP Styling)/random/tailwind.js
(WIP Styling)/random/thankyou.html
(WIP Styling)/random/thankyou.jsx
